<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhousz.blog.dao.TagArticleMapper" >
  <resultMap id="BaseResultMap" type="com.zhousz.blog.model.TagArticle" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <idArg column="tag_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <idArg column="article_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="gmt_create" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="gmt_modified" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, tag_id, article_id, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.zhousz.blog.model.TagArticleKey" >
    select 
    <include refid="Base_Column_List" />
    from tag_article
    where id = #{id,jdbcType=INTEGER}
      and tag_id = #{tagId,jdbcType=INTEGER}
      and article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zhousz.blog.model.TagArticleKey" >
    delete from tag_article
    where id = #{id,jdbcType=INTEGER}
      and tag_id = #{tagId,jdbcType=INTEGER}
      and article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhousz.blog.model.TagArticle" >
    insert into tag_article (id, tag_id, article_id, 
      gmt_create, gmt_modified)
    values (#{id,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhousz.blog.model.TagArticle" >
    insert into tag_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tagId != null" >
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhousz.blog.model.TagArticle" >
    update tag_article
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and tag_id = #{tagId,jdbcType=INTEGER}
      and article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhousz.blog.model.TagArticle" >
    update tag_article
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
      and tag_id = #{tagId,jdbcType=INTEGER}
      and article_id = #{articleId,jdbcType=INTEGER}
  </update>
</mapper>